/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
a {
    color: #00e;
    text-decoration: none;
}
a:visited {
    color: #551a8b;
}
a:hover {
    color: #06e;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}
.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}
/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}
/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}
.ir br {
    display: none;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}
@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}
@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}
body {
    background-color: #edeef0;
    color: #18191a;
}
.hvui-section {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
/*.hvui-section::after {
    content: '>';
    color: #abaeb3;
    font-family: serif;
    position: absolute;
    top: 10px;
    right: 10px;
}*/

.hvui-section a {
    margin: -10px;
    padding: 10px;
}
.hvui-section a:active {
    background-color: #e1e3e6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
.hvui-section-title {
    display: block;
    color: #494b4c;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border-bottom: 1px solid #e3e4e6;
    padding-bottom: 10px;
}
.hvui-item {
    display: block;
}
.page-wrap,
.page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.page-wrap {
    overflow: hidden;
}
.page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* Todo */
}
.page.Color,
.page.Button,
.page.Icon,
.page.IconFont {
    background-color: #fff;
}
.page.Tab,
.page.List,
.page.Form,
.page.Media,
.page.Section {
    background-color: #edeef0;
}
.header h2 {
    text-align: center;
}
.btn-wrap {
    padding: 0 10px;
}
.hvui-btn {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 0 14px;
    font-size: 1.4em;
    line-height: 2;
    border-radius: 4px;
    outline: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #fff;
}
.hvui-btn-small {
    font-size: 1em;
    padding: 0 10px;
    border-radius: 2px;
}
.hvui-btn-large {
    display: block;
    width: 100%;
}
a.hvui-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
a.hvui-btn-large {
    display: block;
}
a.hvui-btn:hover,
a.hvui-btn:active,
a.hvui-btn:visited {
    color: #fff;
}
.hvui-btn-default {
    background-color: #f7f8fa;
    color: #3668b2;
    border: 1px solid #e3e4e5;
}
.hvui-btn-default:active {
    border-color: #e1e3e6;
    background-color: #e1e3e6;
}
.hvui-btn-primary {
    background-color: #3385ff;
}
.hvui-btn-primary:active {
    background-color: #296acc;
}
.hvui-btn-pay {
    background-color: #fa702a;
}
.hvui-btn-pay:active {
    background-color: #c75922;
}
.hvui-btn-attention {
    background-color: #f2460c;
}
.hvui-btn-attention:active {
    background-color: #bf370a;
}
.hvui-btn-disable {
    opacity: .3;
}
.hvui-btn-disable:active {
    /* Todo: 干掉active的color */
}
.hvui-btn-night {
    opacity: .7;
}
.color-wrap h3 {
    text-align: center;
}
.hvui-color {
    display: block;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
    color: yellow;
}
.day-fg-deeper {
    background-color: #18191a;
}
.day-fg-deep {
    background-color: #494b4c;
}
.day-fg-middle {
    background-color: #7a7c80;
}
.day-fg-light {
    background-color: #abaeb2;
}
.day-fg-lighter {
    background-color: #c4c7cc;
}
.day-fg-bright {
    background-color: #ffffff;
}
.day-fg-highlight {
    background-color: #e53917;
}
.day-bg-deeper {
    background-color: #1e2133;
}
.day-bg-deep {
    background-color: #c8cacc;
}
.day-bg-middle {
    background-color: #e1e3e5;
}
.day-bg-light {
    background-color: #ebedf0;
}
.day-bg-lighter {
    background-color: #f5f7fa;
}
.day-bg-bright {
    background-color: #ffffff;
}
.day-bg-dark {
    background-color: #292e47;
}
.day-bg-darker {
    background-color: #1e2133;
}
.day-deep-blue {
    background-color: #3668b2;
}
.day-middle-blue {
    background-color: #3385ff;
}
.day-light-blue {
    background-color: #33aaff;
}
.day-orange {
    background-color: #f55925;
}
.day-violet {
    background-color: #673699;
}
.day-pink {
    background-color: #ff5460;
}
.day-green {
    background-color: #26bf85;
}
.day-yellow {
    background-color: #ff821c;
}
.hvui-tab.hvui-tab-default {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #e3e4e6;
}
.hvui-tab-item {
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-flex: 1;
    background-color: #fcfdff;
    line-height: 2.8;
    color: #626466;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.hvui-tab-item:active {
    background-color: #e1e3e6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
.hvui-tab-item.active {
    color: #3988fb;
}
.hvui-tab-item.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 2px;
    width: 100%;
    margin-left: -50%;
    background-color: #3988fb;
}
.hvui-list {
    background-color: #fff;
    padding-left: 0;
    margin: 0;
}
.hvui-list-item {
    list-style: none;
    border-bottom: 1px solid #e1e3e6;
    padding: 10px;
}
.hvui-list-item a {
    display: block;
    margin: -10px;
    padding: 10px;
}
.hvui-list-item a:active {
    background-color: #e1e3e6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
/*.hvui-media {
    padding: 10px;
}*/

.hvui-media-left {
    float: left;
    margin-right: 10px;
}
.hvui-media-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.hvui-media-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.hvui-media-item-3 {
    -webkit-box-flex: 3;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}
.hvui-icon-level {
    display: inline-block;
    width: 25px;
    height: 15px;
    margin-right: 5px;
    color: transparent;
    /*background: url(../../src/img/level/level-all.png) no-repeat;*/
    background: url(../img/icon/level-all.png) no-repeat;
    background-size: 25px auto;
    vertical-align: bottom;
}
.hvui-icon-level-0 {
    background-position: 0 0px;
}
.hvui-icon-level-1 {
    background-position: 0 -15px;
}
.hvui-icon-level-2 {
    background-position: 0 -30px;
}
.hvui-icon-level-3 {
    background-position: 0 -45px;
}
.hvui-icon-level-4 {
    background-position: 0 -60px;
}
.hvui-icon-level-5 {
    background-position: 0 -75px;
}
.hvui-icon-level-6 {
    background-position: 0 -90px;
}
.hvui-icon-level-7 {
    background-position: 0 -105px;
}
.hvui-icon-level-8 {
    background-position: 0 -120px;
}
.hvui-icon-level-9 {
    background-position: 0 -135px;
}
.hvui-icon-level-10 {
    background-position: 0 -150px;
}
.hvui-icon-level-11 {
    background-position: 0 -165px;
}
.hvui-icon-level-12 {
    background-position: 0 -180px;
}
.hvui-icon-level-13 {
    background-position: 0 -195px;
}
.hvui-icon-level-14 {
    background-position: 0 -210px;
}
.hvui-icon-level-15 {
    background-position: 0 -225px;
}
.hvui-icon-level-16 {
    background-position: 0 -240px;
}
.hvui-icon-level-17 {
    background-position: 0 -255px;
}
.hvui-icon-level-18 {
    background-position: 0 -270px;
}
.hvui-form-input,
.hvui-form-select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #e3e4e6;
    box-sizing: border-box;
}
.hvui-form-input:focus,
.hvui-form-select:focus {
    outline: 0;
    border-color: #54a6ea;
}
input[type=checkbox],
input[type=radio] {
    visibility: hidden;
}
.hvui-form-switch {
    width: 44px;
    height: 26px;
    background: #54a6ea;
    border-radius: 13px;
    position: relative;
    display: inline-block;
}
.hvui-form-switch:after {
    content: '';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.hvui-form-switch:before {
    content: '';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}
.hvui-form-switch label {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.hvui-form-switch input[type=checkbox]:checked + label {
    left: 20px;
}
.hvui-form-chekbox,
.hvui-form-radio {
    width: 28px;
    height: 28px;
    border: 2px solid #c4c7cc;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.hvui-form-chekbox label,
.hvui-form-radio label {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    background: transparent;
}
.hvui-form-chekbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 6px;
    background: transparent;
    top: 8px;
    left: 6px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hvui-form-chekbox input[type=checkbox]:checked + label {
    background-color: #2c81ff;
}
.hvui-form-chekbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.hvui-form-radio label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #2C81FF;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}
.hvui-form-radio input[type=radio]:checked + label {
    box-sizing: border-box;
    border: 2px solid #2C81FF;
}
.hvui-form-radio input[type=radio]:checked + label:after {
    opacity: 1;
}